/** EIGEN CSS **/
/* eigen variabelen, id's en classes */
$primary:#00FF00;
$secondary:#23fff5;
$danger:#000;

$btn-border-radius: 50%;
$color:orange;
.m-6{
    margin:41px;
}
.m-7{
  margin:100px;
}
.myimage{
  background:url('../images/img.png') no-repeat;
}
/**PARTIALS**/
/* _navbar.scss*/
@import "navbar";


